# Environments
.env

# Jupyter Notebook
.ipynb_checkpoints

# R Environment
.RHistory

# Python
__pycache__

# Distribution / packaging
build
dist
src
*.egg-info
# General
.DS_Store
work-record-archive
export
internal
data

# Test
htmlcov
.pytest_cache

projects/get-donors-pump-settings/figures/

projects/get-donors-pump-settings/wip/

projects/loop-algorithm/figures/

projects/parsers/output/

projects/get-donors-pump-settings/temp-plot\.html
