# Environments
.env
# Jupyter Notebook
.ipynb_checkpoints
# R Environment
.RHistory
# Python
__pycache__
# Distribution / packaging
build
dist
src
*.egg-info
# General
.DS_Store
work-record-archive
export
internal
data
node-data-tools/node_modules
node-data-tools/.eslintcache
