# Environments
.env

# Jupyter Notebook
.ipynb_checkpoints

# R Environment
.RHistory

# Python
__pycache__

# Distribution / packaging
build
dist
src
*.egg-info
# General
.DS_Store
work-record-archive
export
internal
data

# Test
htmlcov
.pytest_cache


